---
title: "Intro"
outputs : "Reveal"
description: "What is a 'Monnaie libre'"
id: intro
menu: main
lang: en
weight: 2
---


<section id="txs" data-transition="zoom">
  <!-- 
    <div data-id="rings" class="r-hstack rings">
      <img src="img/bloc.svg" data-id="rings-0" class="" />
      <img src="img/achord_tx.png" data-id="rings-1" class="hl" />
      <img src="img/achord_acc.png" class="" />
      <img src="img/achord_signal.png" data-id="rings-2" class="" />
    </div>
   -->
  <h4 data-id="code-title" data-i18n="intro.tx.title"></h4>
  <div class="r-vstack justify-left">
    <div class="r-hstack ">
      <img src="img/achord_tx2.png" height="180px" class="inv" />
      =
      <img src="img/bloc-tx.png" height="180px" />
    </div>

    <aside class="notes" data-i18n="intro.tx.tx"></aside>
    <p class="fragment custom appear-effect">
      <span data-i18n="intro.tx.chain"></span>
      <br>
    <span data-i18n="intro.tx.chain2" ></span>
    </p>
    <!-- <p class="" data-i18n="intro.tx.table"></p> -->


    <table class="txtable">
      <tr>
        <td>
          <img src="img/clock-with-minute-ticks-no-hands-md.png" height="45px" class="inv" />
        </td>
        <td class=""><img src="img/people-red.png" class="people" /></td>
        <td class=""><img src="img/people-blue.png" class="people" /></td>
        <td>2</td>
      </tr>
      <tr>
        <td>
          <img src="img/clock-with-minute-ticks-no-hands-md.png" height="45px" class="inv" />
        </td>
        <td class=""><img src="img/people-pink.png" class="people" /></td>
        <td class=""><img src="img/people-red.png" class="people" /></td>
        <td>3</td>
      </tr>
      <tr>
        <td>
          <img src="img/clock-with-minute-ticks-no-hands-md.png" height="45px" class="inv" />
        </td>
        <td class=""><img src="img/people-blue.png" class="people" /></td>
        <td class=""><img src="img/people-pink.png" class="people" /></td>
        <td>5</td>
      </tr>
    </table>

  </div>
</section>

<section id="account" data-transition="zoom">
  <!-- <div data-id="rings" class="r-hstack rings">
      <img src="img/bloc.svg" data-id="rings-0" class="" />
      <img src="img/achord_tx.png" data-id="rings-1" class="" />
      <img src="img/achord_acc.png" class="hl" />
      <img src="img/achord_signal.png" data-id="rings-2" class="" />
    </div> -->
  <h5 data-id="code-title" data-i18n="intro.acc.title"></h5>
  <div class="r-vstack justify-left">

    <span class="r-hstack">
      <img data-id="rings-1" src="img/achord_acc.png" height="200px" class="inv" />
      =
      <img src="img/bloc-accounting.svg" class="" height="200px" />
    </span>
    <span class="">
      <!-- <p class="" data-i18n="intro.acc.chain"></p> -->
      <p data-i18n="intro.acc.cercle"></p>
      <p data-i18n="intro.acc.table"></p>
    </span>
    <span class="r-hstack">
      <table class="txtable">
        <tr>
          <td>
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class=""><img src="img/people-red.png" class="people" /></td>
          <td class=""><img src="img/people-blue.png" class="people" /></td>
          <td>2</td>
        </tr>
        <tr>
          <td>
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class=""><img src="img/people-pink.png" class="people" /></td>

          <td class=""><img src="img/people-red.png" class="people" /></td>
          <td>3</td>
        </tr>
        <tr>
          <td class="">
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class=""><img src="img/people-blue.png" class="people" /></td>
          <td class=""><img src="img/people-pink.png" class="people" /></td>
          <td>5</td>
        </tr>
      </table>

      <p>=></p>
      <!-- <p data-i18n="intro.acc.table"></p> -->
      <table class="txtable">
        <tr>
          <td class="">
            <img src="img/archimedean.jpeg" class="people " />
          </td>
          <td class=""><img src="img/people-red.png" class="people" /></td>
          <td class=""><img src="img/people-blue.png" class="people" /></td>
          <td class=""><img src="img/people-pink.png" class="people" /></td>
        </tr>
        <tr>
          <td><img src="img/people-red.png" class="people" /></td>
          <td class=""></td>
          <td class=""></td>
          <td></td>
        </tr>
        <tr>
          <td><img src="img/people-blue.png" class="people" /></td>
          <td class="">-2</td>
          <td class=""></td>
          <td></td>
        </tr>
        <tr>
          <td><img src="img/people-pink.png" class="people" /></td>

          <td class="">3</td>
          <td class="">-5</td>
          <td></td>
        </tr>
      </table>
      <p>=></p>
      <!-- <p data-i18n="intro.acc.table"></p> -->
      <table class="txtable">
        <tr>
          <td>
            <!-- <img src="img/archimedean.jpeg" class="people " /> -->
          </td>
          <td class=""><img src="img/people-red.png" class="people" /></td>
          <td class=""><img src="img/people-blue.png" class="people" /></td>
          <td class=""><img src="img/people-pink.png" class="people" /></td>
        </tr>
        <tr>
          <td>
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class="">-2</td>
          <td class="">+2</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class="">-3</td>
          <td class=""></td>
          <td>+3</td>
        </tr>
        <tr>
          <td>
            <img src="img/clock-with-minute-ticks-no-hands-md.png" class="people" />
          </td>
          <td class="">+5</td>
          <td class="">-5</td>
          <td></td>
        </tr>
      </table>
    </span>
    <p class="fragment custom appear-effect" data-i18n="intro.acc.subtitle"></p>
  </div>
  <aside class="notes" data-i18n="intro.acc.note"></aside>
</section>

<section id="signal" data-transition="zoom">
  <!-- <div data-id="rings" class="r-hstack rings">
      <img src="img/bloc.svg" data-id="rings-0" class="" />
      <img src="img/achord_tx.png" class="" />
      <img src="img/achord_acc.png" data-id="rings-1" class="" />
      <img src="img/achord_signal.png" class="hl" />
    </div> -->

  <h4 data-id="code-title" data-i18n="intro.sig.title"></h4>
  <div class="r-vstack justify-left">
    <span class="r-hstack">
      <img src="img/bloc-valid.svg" class="box0" />
      <p data-i18n="intro.sig.chain"></p>
      <aside class="notes" data-i18n="intro.sig.cercle"></aside>
    </span>
    <span class="r-hstack fragment custom appear-effect">
      <img src="img/ft.png" class="box0 r-stretch inv" />
      <p class="ws" data-i18n="intro.sig.ft"></p>
    </span>

    <p class="fragment custom appear-effect" data-i18n="intro.sig.subtitle"></p>
  </div>
  <aside class="notes" data-i18n="intro.sig.signal"></aside>
</section>

 