---
title: "Intro"
outputs : "Reveal"
description: "What is a 'Monnaie libre'"
id: intro
menu: main
lang: en
weight: 3
---


<section id="trm" data-auto-animate>
  <h5 data-id="code-title" data-i18n="intro.trm.title"></h5>
  <p class="ws" data-i18n="intro.trm.subtitle"></p>
  <div class="r-hstack justify-left">
    <!-- <a target="_blank" href="https://trm.creationmonetaire.info/"> -->
      <img src="img/remerciements_1.png" class="inv tp" style="background-color: white; height:400px;" />
    <a target="_blank" href="https://monnaie-libre.fr/comprendre">
      <img src="img/trm.jpg" class="" />
    </a>
    <aside class="notes" data-i18n="intro.trm.note"></aside>
  </div>
</section>

<section id="just-pick" data-transition="zoom">
  <h5 data-id="code-title" data-i18n="intro.qandr.title"></h5>
  <div class="r-hstack justify-left">

    <img src="img/cle-sol-portee.gif"  width="200px">
    <p data-i18n="intro.qandr.subtitle"></p>
  </div>
  <div class="r-hstack justify-left inv">
    <canvas id="quantitatif" width="400px" height="400px">
      Canvas not Supported
    </canvas>
    <canvas id="relatif" width="400px" height="400px">
      Canvas not Supported
    </canvas>
  </div>
  <input class="hlcursor" type="range" min="1" max="100" value="10" step="0.001"
    oninput="currency(1/this.value)">
</section>


<script> 
    currency(0.06);
  </script>