---
title: "Intro"
outputs : "Reveal"
description: "What is a 'Monnaie libre'"
id: intro
menu: main
lang: en
weight: 1
---


<section data-auto-animate data-background-video="video/speed_up.mp4"
         data-background-video-loop
         data-background-video-mute
         id="video">
    <h4 data-i18n="intro.title"  class="appear-effect"></h4>
    <aside class="notes" data-i18n="video.welcomeMsg"></aside>
    <div class="r-hstack ">

        <div class="r-vstack justify-left" data-id="rings" style="align-items:baseline;">
            <span class="r-vstack fragment appear-effect">
        <!--    <img src="img/bloc.svg" style="height:100px;"/> -->
                <p data-i18n="video.blockchain"></p>
                <aside class="notes" data-i18n="video.blockchainnote"></aside>
              </span>
            <ul>
                <li>
                    <div class="tc fragment custom  frag1 appear-effect">
<!--            <img class="inv" data-id="rings-center" src="img/achord_tx.png" width="100px"/>-->
                    <span class="spoiler w50">E </span>
                    <span class="large" data-i18n="video.tx"></span>&nbsp;
                    <span class="spoiler large" data-i18n="video.tx.alt"></span>
                    <aside class="notes" data-i18n="video.txnote"></aside>
                  </div>
                </li>
                <li>
                  <div class="tc fragment custom frag2  appear-effect">
        <!--            <img class="inv" src="img/achord_acc.png" width="100px"/>-->
                    <span class="spoiler w50">m </span>
                    <span class="large" data-i18n="video.acc"></span>
                    <span class="spoiler large" data-i18n="video.acc.alt"></span>
                    <aside class="notes" data-i18n="video.accnote"></aside>
                  </div>
                </li>

                <li>
                  <div class="tc fragment custom  frag3 appear-effect">
        <!--            <img class="" src="img/achord_signal.png" wi dth="100px"/>-->
                    <span class="spoiler w50">c²</span>
                    <span class="large" data-i18n="video.signal"></span>
                    <span class="spoiler large" data-i18n="video.signal.alt"></span>
                    <aside class="notes" data-i18n="video.signalnote"></aside>
                  </div>
                </li>
                <li>
                    <div class="r-vstack fragment custom appear-effect">
                        <p  class="large" data-i18n="video.subtitle"></p>
                        <span class="large spoiler" data-i18n="video.subtitle.alt"></span>
                        <aside class="notes" data-i18n="video.subtitlenote"></aside>
                    </div>
                </li>
            </ul>


        </div>
        <!--        <div class="video-container">-->
        <!--            <video class="inv tp" controls data-autoplay loop>-->
        <!--                <source src="video/speed_up.mp4"/>-->
        <!--            </video>-->
        <!--        </div>-->
        <div style="width:300px"></div>
    </div>


</section>

