---
title:  "Land"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"

menu: main
lang: en
---

<section data-auto-animate>
    <h4 data-id="code-title" data-i18n="thanks"></h4>
    <aside data-i18n="thanksnote" class="notes"></aside>
    <div class="r-hstack justify-left">
      <img src="img/block1.png" width="500px" class="inv tp">

    </div>
    <p data-i18n="art1"></p>

</section>