<!-- <button class="lang-select">en</button>
  <button class="lang-select">fr</button> -->

<div class="keytop">


  <div class="intromenu">

    <div class="hrow key">

      <div >
        <a href="/#/">
            <div class="archi">
            </div>
        </a>
      </div>

      <div>
        <a href="/#/txs">
          <acronym title="i">
<!--            <img src="/img/achord_tx.png" data-id="rings-1" class="intro inv" />-->
            <video autoplay muted loop class="minivid frag1">
              <source src="/video/speed_up.mp4" type="video/mp4">
            </video>
          </acronym>
        </a>
      </div>

      <div class="">
        <a href="/#/account">
          <acronym title="pi">
<!--            <img src="/img/achord_acc.png" class="intro inv" />-->
            <video autoplay muted loop class="minivid frag2">
              <source src="/video/speed_up.mp4" type="video/mp4">
            </video>
          </acronym>
        </a>
      </div>
      <div class="">
        <a href="/#/signal">

          <acronym title="e">
<!--            <img src="/img/achord_signal.png" data-id="rings-2" class="intro" />-->
            <video autoplay muted loop class="minivid frag3">
              <source src="/video/speed_up.mp4" type="video/mp4">
            </video>
          </acronym>

        </a>
      </div>
      <div class="spoiler">
        <a href="/#/trm">
          <img src="/img/200.webp" data-id="rings-2" class="intro" width="50px" />
        </a>
      </div>

        <div>
            <div class="speaker on">
                <div id="mute" class="mute"></div>
                <span></span>
            </div>
        </div>
      <div>
        <audio id="music" controls autoplay loop  class="inv">
          <source src="video/time.mp3" type="audio/mpeg"> 
        </audio>
        <script>
          var x = document.getElementById("music");
          x.volume = 0.2;
        </script>
      </div>


    </div>


    <div class="hrow">
      <div class="key"><img src="/img/bloc-tx.png" class="intro" /></div>
      <div class="key spoiler"><img src="/img/txicon.png" class="intro" /></div>
    </div>

    <div class="hrow">
      <div class="key">
        <a href="#">
          <img src="/img/bloc-accounting.svg" class="intro" />
        </a>
      </div>

      <div class="key spoiler">
        <a href="#">
          <img src="/img/txacc.png" class="intro" />
        </a>
      </div>
      <div class="key spoiler">
        <a href="#">
          <img src="/img/txtriang.png" class="intro" />
        </a>
      </div>
      <div></div>
    </div>

    <div class="hrow">
      <div class="key">
        <a href="#">
          <img src="/img/bloc-valid.svg" class="intro" />
        </a>
      </div>
      <div class="key spoiler">
        <a href="#">
        </a>
      </div>
      <div class="key spoiler">
        <a href="#">
        </a>
      </div>
      <div class="key spoiler">
        <a href="#">
          <img src="/img/ft.png" class="intro inv" />
        </a>
      </div>

    </div>

    <div class="hrow">
      <div class="spoiler key">
        <a href="/theland/#/">
          <img src="/img/champs.jpg" class="intro" />
        </a>
      </div>
      <div class="spoiler key">

      </div>
      <div class="spoiler">
        <a href="#">
          <img src="/img/cercletrigo.png" class="intro inv" />
        </a>
      </div>
      <div class="spoiler key">
        <a href="/#/trm">
          <img src="/img/trm.jpg" class="intro" />
        </a>
      </div>
      <div class="spoiler keykey">
        <a href="/#/just-pick">
          <img src="/img/cle-sol-portee.gif" class="intro" />
        </a>
      </div>
    </div>
  </div>



  <nav class="menubar right" id="menubar">
    <div class="dropdown">
      <input id="checkbox_toggle" type="checkbox">
      <label for="checkbox_toggle" data-i18n="chooselanguage">Choose language</label>
      <div class="langchooser">
        <label>
          <input type="radio" class="lang-select" name="menulangradios" value="en"><span>English</span>
        </label>
        <label>
          <input type="radio" class="lang-select" name="menulangradios" value="fr" checked><span>Français</span>
        </label>
      </div>
    </div>
  </nav>

  <div class="handle">
    <a href="/#/">
      <img class="g1" src="img/clefdeg1.png"/>
    </a>
  </div>

</div>


<!-- The script below closes the fake 'select' if an option is chosen;-->
<script>
  let dropdown = document.querySelector('.menubar .langchooser');
  let label = document.querySelector('.menubar .dropdown > label');
  dropdown.addEventListener("click", function (e) {
    console.log('click')
    label.click();
  }, false);
</script>


<script defer>

  var source = "video/time.mp3"
var audio = document.createElement("audio");
//
audio.autoplay = true;
//
audio.load()
audio.addEventListener("load", function() {
    audio.play();
}, true);
audio.src = source;

 // window.location.href = "#/intro";
 // addAutoAnimate();


 Reveal.addEventListener('ready', function (event) {
   var thisSlide = Reveal.getCurrentSlide();

   if (tts.readNotes) setTimeout(function () {
     if (ttsOn()) {
       tts.ReadAnyElmts(thisSlide, ".notes");
     }
   }, 1000);

 });

 Reveal.addEventListener('slidechanged', function (event) {
   var thisSlide = Reveal.getCurrentSlide();
   if (tts.Cancel) tts.Synth.cancel();

   // setTimeout(function(){tts.ReadVisElmts(thisSlide,"h1","h2","h3","p","li");}, 1000);
   if (tts.readNotes) setTimeout(function () {
     if (ttsOn()) {
       tts.ReadAnyElmts(thisSlide, ".notes");
     }
   }, 1000); // Then, conditionally, read hidden notes class.

 });

 Reveal.on('fragmentshown', function (event) {
   if (tts.readFrags && ttsOn()) {
     let txt = event.fragment.textContent;
     tts.ReadText(txt);
   }
 });

 Reveal.configure({
   keyboard: {
     81: function () { tts.Synth.cancel() },
     84: function () { tts.ToggleSpeech() }
   }
 });


 langInit();

 $('.speaker').click(function (e) {
   e.preventDefault();
   e.stopPropagation();
   tts.ToggleSpeech();
   console.log(tts);
 });

 $('.lang-select').click(function () {
   console.log('select ' + this.value)
   i18next.changeLanguage(this.value);

   $('html')[0].lang = this.value;
   $('head').localize();
   $('body').localize();

   $('.menubar .dropdown > label')[0].click();
 });

</script>