<!-- LIBS  -->
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/i18next.min.js"></script>
<script src="/js/jquery-i18next.min.js"></script>
<script src="/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/i18next-http-backend@1.3.2/i18nextHttpBackend.min.js"></script>


<!-- CUSTOM  -->
<link rel="stylesheet" href="/css/style.css" media="screen" type="text/css" />
<link rel="stylesheet" href="/css/head.css" media="screen" type="text/css" />
<link rel="stylesheet" href="/css/mutebutton.css" media="screen" type="text/css" />

<script src="/js/internation.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/tts.js"></script>