nav {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;

}

nav>label, a, span {
  #margin-left: 10px;
  color: beige;
  font-size: 16;
}



/* EXAMPLE DROPDOWN WITH LANGUAGE CHOOSER */
.menubar {
  z-index: 2;
}
.menubar .dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .menubar .dropdown {
    font-size: 20px;
  }
}
.menubar input[type=checkbox] {
  display: none;
}
.menubar input[type=checkbox] + label {
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.4em 1em;
  cursor: pointer;
  opacity: 0.5;
}
.menubar input[type=checkbox] + label:hover {
  opacity: 1;
}
.menubar input[type=checkbox]:checked + label {
  border-radius: 6px 6px 0 0;
}
.menubar input[type=checkbox]:checked ~ .langchooser {
  display: block;
}
.menubar label {
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menubar [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.menubar .dropdown .langchooser {
  position: absolute;
  list-style: none;
  text-align: left;
  right: 0;
  min-width: 100%;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding: 0;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  background: rgba(26, 22, 38, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid white;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
.menubar .dropdown .langchooser label {
  display: block;
  padding: 0;
}
.menubar .langchooser [type=radio] + span {
  display: block;
  padding: 0.75em 2em;
  cursor: pointer;
  opacity: 0.5;
}
.menubar .langchooser span:hover {
  opacity: 0.75;
}
.menubar .langchooser [type=radio]:checked + span {
  pointer-events: none;
  color: white;
  font-weight: bold;
  opacity: 1;
  position: relative;
}
.menubar .langchooser [type=radio]:checked + span:before {
  content: "√";
  display: block;
  position: absolute;
  left: 1em;
}

a.github-corner {
  position: absolute;
  z-index: 5;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}

a.github-corner:hover {
  color: white;
}

