html,
body {
  font-family: Helvetica, sans-serif;
}

audio{
  opacity: 50%;
}

.tp{
 opacity: 50%;
}

h5{
padding-top:2vw;
}

.wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  zoom: 1.4;
}

input {
  position: absolute;
  will-change: transform;
}

input.grow {
  animation: grow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
}

p {
  font-size: x-large;
  text-align: left;
  display: inline-block;
  padding: 10px;
}

.hide {
  display: none;
}


.withhover:hover+.hide {
  display: block;
  color: blanchedalmond;
  position: absolute;
  /* : 0; */
  bottom: -50px;
}

canvas {
  background-color: transparent;
  margin: 10px;
}

.hlcursor {
  width: 600px;
  position: relative;
}

.r-hstack>img {
  margin: 10px;
}

section {
  --c1: magenta;
  --c2: grey;
  --c3: yellow;
  --ct: rgba(255, 255, 255, .1);
}
@keyframes alternateBackgrounds {
    0% {
        background-image: url("../img/toto.png");
    }
    83% {
        background-image: url("../img/toto.png");
    }
    84% {
        background-image: url("../img/toto1.png");
    }
    100% {
        background-image: url("../img/toto1.png");
    }
}

.reveal-viewport{
  height: 100%;
  background-color: black;
  animation: alternateBackgrounds 4s infinite;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  background-position: center;

}

.box0 {
  background: none;
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box1 {
  background: var(--c1);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box2 {
  background: var(--c2);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box3 {
  background: var(--c3);
  width: 150px;
  height: 100px;
  margin: 10px;
}



.box21 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c2) 45%, var(--c3) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}



.box23 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c2) 45%, var(--c1) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box31 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c3) 45%, var(--c1) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box32 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c3) 45%, var(--c2) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}


.box12 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c1) 45%, var(--c2) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box13 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c1) 45%, var(--c3) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}


.pie1 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient(var(--c1) 0% 33%,
      var(--ct) 33%);
}

.pie2 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient(var(--ct) 0% 33%,
      var(--c2) 33% 66%,
      var(--ct) 66%);
}

.pie3 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient(var(--ct) 0% 66%,
      var(--c3) 66%);
}

.hollow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hollow::after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.pushbot {
  margin-bottom: 150px;
}

.ws, .r-hstack>p{
  white-space: pre-line;
}

.pushtop{
  position:absolute;
  right: 300px;
  top: -100px;
}

.fragment.r-hstack.current-fragment{
  transform: scale(1.5);
}
.fragment.r-hstack:not(.current-fragment){
  transform: scale(0.8);
}

.reveal .slides section .fragment.semi-fade-out.current-fragment {
  opacity: 1;
}

.intromenu {
  position: absolute;
  z-index: 1;
  left:  0px;
  top:  0px;
  margin: 0;
  border: 0;
  float: left;
  align-content: normal;
  width: 100%;
}

.intromenu > .hrow {

  margin: 0;
  border: 0;
   position: relative;
  text-align: left; 
}
 
.intromenu > .hrow > div{
  margin: 0;
  width:3vw;
  height:3vw;
  display: inline-block;
}

.intromenu  img{ 
  padding: 0;
  margin: 0;
  width:3vw;
  height:3vw;
}
 
.inv{
  filter:invert(1);
}

span.spoiler{
    opacity:0%;
}

.keytop:has(.keykey:hover) .key,
.keytop:has(.keykey:hover) .spoiler img,
.keytop:has(.keykey:hover) .spoiler ,
.keytop:has(.keykey:hover) .keykey
{
  border: solid 1px white;
  visibility:visible;

    opacity:100%;
}


.handle{
  position: absolute;
  top: 61px;
  right: 0px;
  padding: 2px 10px 0px 10px ;
}
.keytop:has(.keykey:hover) .handle{
  position: absolute;
  top: 61px;
  right: 0px;
  padding: 2px 10px 0px 10px ;
  border: solid 1px white;
  border-top-width:0;
  filter: invert(0);
}

/* 
.keytop:hover  .key{
  border: solid 1px white;
} */

.txtable{
  border:2px white;
  margin: 0;
  padding: 10px;
}

.txtable tr{
  margin: 0;
  padding: 0; 
}

.txtable tr td{
border-bottom: 0;
  vertical-align: top;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: smaller;
}

.clock{ 
  background-image:url("../img/clock.png");
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;
 
}

.archi{ 
  background-image:url("../img/archimedean.png");
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;

width:3vw;
height:3vw;
  /* filter: invert(1); */
}
.archi a {
}

.g1{ 
  background-image:url("../img/clefdeg1.png");
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;
  height: 180px;
  opacity: 0.5;
  /* filter: invert(1); */
}

.reveal ul{
list-style-type: none;
}
.tc{
    display: table-cell;
    }

.g1:hover{
  opacity: 1;
}

.txtable tr td img{
  margin: 0;
  padding: 0;
}
.people{ 
  display: block;
  /* width: 50px; */
  height: 50px;
  margin: 0;
  padding: 0;
  
 
 filter: invert(1); 
}

.spoiler img  {
  opacity:0%;

}
.spoiler:hover img, .spoiler:hover   {
  opacity:100%;

   position: relative; /* Ensure the element can be positioned */
}

.intro{
  width: 100px;
  height: 100px;
 
}



.video-container {
  position: relative;
  width: 500px; /* Largeur de l'image */
  height: 500px; /* Hauteur de l'image */
  overflow: hidden; /* Masquer tout ce qui dépasse */
  display: flex;
  justify-content: center;
  align-items: center;
}


.minivid{
  position: relative; 
  z-index: 2;
  filter: invert(1);
  height: 50px;
  opacity: 60%;
}

.minivid.frag1  {
    width: 100%;
    height: 100%;
    mask-image: radial-gradient(circle, black 18%, transparent 19%);
    -webkit-mask-image: radial-gradient(circle, black 19%, transparent 20%);
        animation: appearFromTopLeft 1s ease-out;
        position: relative;
}

.minivid.frag2{
    width: 100%;
    height: 100%;
    mask-image: radial-gradient(circle, transparent 21%, black 22%, black 26%, transparent 50%);
    -webkit-mask-image: radial-gradient(circle, transparent 21%, black 21%, black 26%, transparent 50%);
}

.minivid.frag3{
  width: 100%;
  height: 100%;
  filter: invert(1) saturate(1000%);
  mask-image: radial-gradient(circle, transparent 45%, black 46%, black 60%, transparent 61%);
  -webkit-mask-image: radial-gradient(circle, transparent 47%, black 47%, black 60%, transparent 61%);
}

.large {
    font-size: x-large;
}

.w50{
    width:90px;
    display: inline-block;
}

.reveal:has(.fragment.frag1.current-fragment) .slide-background-content video{
    width: 100%;
    height: 100%;
    padding-right:20px;
    mask-image: radial-gradient(circle, black 18%, transparent 19%);
    -webkit-mask-image: radial-gradient(circle, black 19%, transparent 20%);
}

.reveal:has(.fragment.frag2.current-fragment) .slide-background-content video{
    width: 100%;
    height: 100%;
    padding-right:20px;
    mask-image: radial-gradient(circle, transparent 21%, black 22%, black 26%, transparent 50%);
    -webkit-mask-image: radial-gradient(circle, transparent 21%, black 21%, black 26%, transparent 50%);
}

.reveal:has(.fragment.frag3.current-fragment) .slide-background-content video{
  width: 100%;
  height: 100%;
  padding-right:20px;
  mask-image: radial-gradient(circle, transparent 45%, black 46%, black 60%, transparent 61%);
  -webkit-mask-image: radial-gradient(circle, transparent 47%, black 47%, black 60%, transparent 61%);
}

.reveal .slide-background-content{
    position: absolute;
    width: 40vw;
    height: 40vw;
    top: 20%;
    right: 0%;
    opacity: 50%;
    filter: invert(1);
}

.frag1, .frag2, .frag3{
    text-align:left;
    align-items: left;
}

@keyframes appearFromTopLeft {
    0% {
         transform: translate(calc(-100vw + 0%), calc(-100vh + 0%)) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes disappearToTopLeft {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(calc(-100vw + 0%), calc(-100vh + 0%)) scale(0);
        opacity: 0;
    }
}


/* Apply the animation to all elements */
.fragment.appear-effect.visible , .appear-effect{
    animation: appearFromTopLeft 1s ease-out;
    position: relative; /* Ensure the element can be positioned */
}
/* Apply the animation to all elements */
.fragment.appear-effect {
    animation: disappearToTopLeft 1s ease-out;
    position: relative; /* Ensure the element can be positioned */
}