---
title:  "Land?"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"

menu: main
lang: en
weight: 2
--- 
<section  id="land-question" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.1.title"></h4>
  <div class="r-hstack justify-left">
    <p class="withhover ws" data-i18n="land.1.question"></p>
    <p class="hide" data-i18n="land.1.hide"></p>
    <img src="../../../img/streamoflife.png" height="500px" />
  </div>
</section>

<section id="manual-field" data-auto-animate>
  <h4 data-id="code-title" data-i18n="manual.3.title"></h4>
  <p data-i18n="manual.3.details"></p>
  <div class="r-hstack justify-left">
    <div data-id="box1" class="box1"></div>
  </div>
</section>

<section id="manual-ground" data-auto-animate>
  <h4 data-id="code-title">
    \[\begin{aligned}
    \ 1 Land = \sum_{}^{} Fields \\
    \end{aligned} \]
  </h4>
  <div class="r-hstack justify-left"> 
    <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
    </div>
    <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
    </div>
    <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
    </div>
  </div>
  <p data-i18n="manual.4.detail"></p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="manual.5.title"></h4>

  <div class="l-vstack">

    <div class="r-hstack justify-left">
      <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
      </div>
      <div class="box13" data-auto-animate-delay="1.5">
      </div>
      <div class="box12" data-auto-animate-delay="1.5">
      </div>
      <div data-id="box1" class="box1" data-auto-animate-delay="0.8">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
      </div>
      <div class="box21" data-auto-animate-delay="1.5">
      </div>
      <div data-id="box2" class="box2" data-auto-animate-delay="0.8">
      </div>
      <div class="box23" data-auto-animate-delay="1.5">
      </div>
    </div>

    <div class="r-hstack justify-left">
      <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
      </div>
      <div class="box3" data-auto-animate-delay="0.8">
      </div>
      <div class="box32" data-auto-animate-delay="1.5">
      </div>
      <div class="box31" data-auto-animate-delay="1.5">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div class="box0">
        <p>+ *</p>
      </div>
      <div class="box3">
      </div>
      <div class="box2">
      </div>
      <div class="box1">
      </div>
    </div>
  </div>
  <p>
    "Everything is relative"
  </p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="manual.6.title"></h4>

  <div class="l-vstack">

    <div class="r-hstack justify-left">
      <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box1">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box2">
      </div>
      <div class="box23">
      </div>
    </div>

    <div class="r-hstack justify-left">
      <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
      </div>
      <div class="box3">
      </div>
      <div class="box32">
      </div>
      <div class="box31">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div class="box0">
        <p>+ * - /</p>
      </div>
      <div class="box3">
      </div>
      <div class="box2">
      </div>
      <div class="box1">
      </div>
    </div>
  </div>
  <p>
    for everything symetric
  </p>
</section>

<section id="land-issue" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.2.title"></h4>
  <p class="ws" data-i18n="land.2.detail"> 
  </p>
</section>

<section id="ouroboros" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.3.title"></h4>
  <div class="r-hstack justify-left">
    <p class="ws" data-i18n="land.3.detail"> 
    </p>
    <img src="../../../img/Ouroboros.svg.png" class="" style="background-color: white; width:200px; filter: invert(1);" />
  </div>
</section>

<section id="promised-land" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.4.title"></h4>
  <div class="r-hstack justify-left">
    <p class="withhover ws" data-i18n="land.4.detail"></p>
    <p class="hide" data-i18n="land.4.promised"></p>
    <video class="gfm" class="r-stretch" preload="metadata" data-title="speed_up" data-setup="{}" controls="true"
      src="../../../video/mlk.mp4" class="withhover"></video>
    <p class="hide" data-i18n="land.4.clue"></p>
  </div>
</section>

<section id="to-ground" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.5.title"></h4>
  <pdata-i18n="land.5.subtitle"></p>
    <div class="r-hstack  justify-left">
      <img src="../../../img/welding.png" height="300px" class="withhover" />
      <p class="hide" data-i18n="land.5.close"></p>
      <img src="../../../img/ground.png" height="300px" class="withhover" />
      <p class="hide" data-i18n="land.5.balance"></p>
      <img src="../../../img/ground2.jpeg" height="300px" class="withhover" />
      <p class="hide" data-i18n="land.5.security"></p>
    </div>
</section>

<!-- <section id="grounding" data-auto-animate>
  <h4 data-id="code-title" data-i18n="land.6.title"></h4>
  <div class="r-hstack  justify-left">
    <pdata-i18n="land.6.detail"></p>
      <img src="img/com.png" class="" />
  </div>
</section> -->