---
title:  "Univesal?"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"
id: 
menu: main
lang: en
weight: 3
---
 
{{< slide id="universal">}}

 
<section id="universal-fields" data-auto-animate>
  <h4 data-id="code-title" data-i18n="universal.2.title"></h4>
  <div class="r-hstack justify-left">
    <p class="ws" data-i18n="universal.2.detail"></p> 
    <div id="checkwave"> 
      <script src="js/checkwaves.js" type="text/javascript"></script>
    </div>
  </div>
</section>

<section id="universal-roots" data-auto-animate>
  <h4 data-id="code-title" data-i18n="universal.3.title"></h4>
  <div class="r-hstack justify-left">
    <img src="img/stick_figure_handshake_standout_800_wht.jpg" height="300px" />
    <img src="img/keyvalue.png" height="300px" />
  </div>
</section>

<section id="universal-measure" data-auto-animate >
  <h4 data-id="code-title" data-i18n="universal.4.title"></h4>
  <div class="r-hstack justify-left">
    <img src="img/ft.png" class="r-stretch withover" />
    <p class="hide" data-i18n="universal.4.detail"></p>

    <img src="img/dudhc.jpg" class="withhover" height="500px" />
    <p class="hide" data-i18n="universal.1.detail"></p>
  </div>
</section>

<section id="universal-science" data-auto-animate>
  <h4 data-id="code-title" class="withhover" data-i18n="universal.5.title"></h4>
  <p class="hide" data-i18n="universal.5.detail"></p>
  <div class="r-hstack justify-left">
    <img src="img/galileoquote.jpg" class="r-stretch" alt="galileo">
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="unversal-tree" data-i18n="universal.6.title"></h4>
  <div class="r-hstack justify-left">
    <img src="img/ancestor-chart.png" class="withhover" height="500px" />
    <p class="hide" data-i18n="universal.6.detail"></p>
  </div>
</section>