---
title:  "Land"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"

menu: main
lang: en
---

<section>
  <h4 data-id="code-title" data-i18n="poems.1.title"></h4>
  <img src="../img/clefdesol2.png" alt="">
</section>

<section>
  <h4 data-id="code-title">Steady economy</h4>
  <p style="text-align:left; font-size:16pt;" class="ws">
    Open an eye on steady state economy:
    On the ground throughout eternity.
    Harmonious mean to a neverending story:
    the latest field for science to study.
    A promised land of opportunity
    Peaceful path through intricate history.
    Now, listen and memorize what you're about to see
    First, Fill a space with invisible energy
    then, believe in an almigthy tautology
    now build a chord to accord everybody
    Congratulation You are finally ready 
    to listen and see ... there ends the receipe
  </p>
</section>


<!-- <section>
    <h3 data-id="code-title">Compte harmonique</h3>
    <p style="text-align:left; font-size:16pt; display: inline-block;">
        Vide, néant, Absent, invisible , Zero. 
        Il ne peut diviser mais on le dit entier <br>
        Pouvant être calculé, mais jamais mesuré!<br>
        Demandez a ceux qui s’y sont aventuré ...<br>
        ils ne l'ont pas trouvé. Il fallut un Hero<br>

        Universel, Entier, Indivisible, Un<br>
        Ce Naturel positif, auquel on tient<br>
        Avançant, infiniment au grès du temps<br>
        Définissant, et contraint, d’intégrer le plan<br>

        Paritaire, équilibre primaire, deux<br>
        divisant la nature discrete de ces<br>
        Rebond pair ou impair, jamais entre les deux<br>
        des entiers, dans la somme pour les intégrer<br>

        Triple de la spire. Rationnellement, trois<br>
        est l'invariant continue et même parfois<br>
        Symbole élégant, inspirant muse et foi<br>
        additionne l'aire des triangles en croix<br>

        Carré, régulier, orthonormé, c'est Quatre<br>
        cardinalité qui parait opiniâtre<br>
        mais qui graphiquement n'est pas si folâtre<br>
        polarité: norme déphasé par quatre<br>

        liant Faces du Dé, cube et carré: six<br>
        ...<br>

        Éternel, infini, rationnel c’est 12<br>
        l'invariant, la clef, la réponse pépouze.<br>

        la porte d'entré, le pas régulier, Douze<br>
        Le plan bien caché, dans l'épaisseur du trait<br>
        Difference de l'angle, et sa destinées<br>
        entre triangle discret et cercle normé<br>

        inspire et pose la question du temps<br>
        l’harmonie du cercle infinie et du carré<br>
        liant les diagonale des plans, c’est 12<br>
        l’angle, le point, la quantité<br>
        avec laquelle on mesure le plan, c’est 12<br>
        <br>
        et on ne peut y échapper<br>
    </p>
</section>
-->
<section>
  <h4 data-id="code-title">It's about</h4>
  <p style="overflow-y:scroll; font-size: 12pt;" class="r-stretch  ws">
    its about 12 and the angle of time.... 
    Its about the value to which you reduce an entire plane when you must
    its about harmonic series
    its about continuons summation
    its about symmetric summation
    its about polar summation 
    its about triangular summation 
    Its about natural summation 
    Its about hyperbolas and focus 
    its about a ratio between an open circle and an open square, 
    Its about a rational number covering for it when Pi is missing 
    Its about the summation of everything that is under the Diagonal of the plane. 
    Its about the half matrix. all possible pairs, all possible associations of a list with itself 
    Its about the endpoint in the complexe exponent plane. 
    Its about the Rosetta Stone to add up infinities together 
    Its about the difference between continuous integral and the natural sum 
    Its about an invariant so old, and never proven, we've forgotten... 
    Its about a rational that can fit in every integrals and derivative coefficients (factorials from Taylor series)
    
    its about past and present, ending and beginnings, 
    its about pure balance throughout time. 
    Its about a unit without unit defining units 
    Its about the poor copyist monks, guttenberg banckruptcy, and the press that remains. 
    Its about one limit to recordable history 
    Its about a ghost of every plane's definition that exists, orthonormal, complexe, Zeta...
    
    Its about beauty written in the thickness of the line. 
    Its about the default value, void sink and source of infinities 
    Its about a norm of norms, knitting space and time rationally. 
    Its about chaos, unity, parity defining balance 
    its about a note on the partition of the prime (zeta function) 
    Its about the Number Universe, and every possible sequences of informations 
    Its about fading, converging in time 
    its about Cleopatra closer to us than the pyramids 
    its about time after time and through time 
    its about Schrödinger superposition and quantified unknown. 
    Its about Einstein putting Mercure back in its place 
    Its about the consequences of Integers being full, plain and proud neither "a bit less", nor "a bit more" 
    Its about where the freedom of some ends and others begins 
    its about magic, or whats left of it. perceptible with a compas and a ruler 
    its about a Unit we thought were useless "what can such an abstract unit represent in the real world" ... 
    its about a unit so abstract it can add a bike yesterday with an apple tomorrow, what can it possibly measure !
    
    its about one un-prouvable obvious. 
    its about the tribute of Archimède, Euler and Ramanujan to 21 first century 
    its about the rabbit hole, the leap of faith and what is left to discover 
    its about a center that was, is and will be 
    its about integral of integrals ! acceleration => speed => position and what comes next 
    its about the pulse, the heartbeat, the harmonics of the plan 
    its about new born and natural inflation. as much as it is the dead's decays 
    its about eternity seen through the eyes of a legendary phoenix not of a vampire. 
    its about acknowledging our periodicity 
    its about discovering currency. At a time when everything has a price, gardens are rarer. 
    its about putting "currency" into the metric system 
    Its about a primordial, abstract, natural predicate "+1" and how it "turns", 
    Its about Zooming on every brownien movement, looking under every Gaussian bells 
    Its about rediscovering what we thought were understood. 
    Its about the golden Rule 
    Its about one of quantum physics predicate 
    Its about pure axioms and boring definitions 
    Its about the blindness and balance of justice 
    its about a unit that is because we decided that we are. 
    Its about hippies and spirals, lefties and balance, righties and entrepreneurship, anarchy and order, tyranny
    and hierarchy 
    Its about communists, nationalists, socialists, royalists, centrists... 
    Its about the infinite natural sum of us all and its convexity, 
  </p>
</section>