---
title:  "Land"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"

menu: main
lang: en
---
 
<style>
  .video {
    display:none;
  }
  
  .menubar{
    display:none;
  }

  .intromenu{
    display:none;
  }

  .reveal-viewport{
    background-image: none;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
  }

  nav{
    position: absolute;
    top: 5px;
    left:5px; 
    z-index: 1;
  }
</style>

<section>
  <a href="/#/">back to the tautologie</a>
</section>