---
title:  "Manual"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"
id: 
menu: main
lang: en
weight: 2
---
{{< slide id="manual" class="hello" >}} 

<section id="steadystate" data-auto-animate>
  <h4 data-id="code-title" data-i18n="intro.ss.title"></h4>
  <div class="r-hstack justify-left">
    <a target="_blank"
      href="https://www.linkedin.com/pulse/steady-state-economy-sustainable-economic-model-laura-vivas/">
      <img src="img/steadystate.png" height="500px" />
    </a>
    <img src="img/steady-transient.png" height="500px" />

    <aside class="notes" data-i18n="intro.ss.note"></aside>
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="manual.8.title"></h4>
  <p>
    <img src="../../img/harmonic-oscillator.png" height="500px"/>
  </p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="manual.9.title"></h4>
  <video loop autoplay class="gfm" class="r-stretch" preload="metadata" data-title="integrals" data-setup="{}" controls="true"
    src="../../video/integrales.webm"></video>
  <p class="justify-center">
    discrete - continuous
    <br>
    reality
  </p>
</section>