---
title:  "Land"
outputs :  "Reveal"
description: "What is a 'Monnaie libre'"

lang: en
---
 
<section id="euler">
  <h2 data-id="code-title" data-i18n="euler.1.title"></h2>
  <div class="r-hstack justify-left">
    <img src="../../img/cercletrigo.png" style="background: white; width: 300px;"/>
    <img src="../../img/euler.jpg" style="background: white; width: 300px;"/>
 
    <p style="text-align: left; white-space: none;">
      {{< math "e^{ i\pi } + 1 = 0" />}}
      {{< math "e^{ \pm i\theta } = \cos \theta \pm i\sin \theta" />}}
    </p>
 
  </div>
  <p>
    0 ; 1 ; e ; i ;π ; * ; ^ ; +; =
  </p>
</section>

<section id="euler-identity">
  <h2 data-id="code-title" data-i18n="euler.2.title"></h2>
  <div class="r-hstack justify-left pushbot">
    <img src="../../img/e.jpg" height="300px" class="withhover" alt="">
    <p class="hide ">
      {{< math "e = \sum_{k=0}^{\infty} \frac{1}{k!}" />}}
    </p>
    <img src="../../img/EAreaPlot.svg" height="300px" class="withhover" style="background-color: white;">
    <p class="hide ">
      {{< math "e = lim_{n\to\infty} (1 + \frac{1}{n})^n" />}} 
    </p>
  </div>
</section>

<section>
  <h2 data-id="code-title" data-i18n="euler.3.title"></h2>
  <div class="r-hstack justify-left">
    <p class="withhover">
      imaginary like what?<br>
      like anything relative ?<br>
    </p>
    <p class="hide" data-i18n="euler.3.detail"></p>
    <img src="../../img/i-cycle-complex.svg" height="300px" class="withhover" style="background-color: white;">
    <p class="hide">wrap around the origin</p>
  </div>

</section>

<section>
  <h2 data-id="code-title" data-i18n="euler.4.title"></h2>
  <img src="../../img/spirals.png" height="364" width="711" class="withhover"/>
  <p class="hide">is not quite there</p>
</section>

<section>
  <h2 data-id="code-title" data-i18n="euler.5.title"></h2>
  <img src="../../img/pi.svg" style="background: white; width: 300px; height: 100px; margin: 10px;"/>
</section>