<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.1.title"></h4>
  <div class="r-hstack justify-left">
    <a href="https://www.imdb.com/title/tt0787524/" target="_blank">
      <img src="img/ramanujan.jpg" height="500px" />
    </a>

  </div>

</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.2.title"></h4>
  <div class="r-hstack justify-left">
    <a target="_blank"
      href="https://terrytao.wordpress.com/2010/04/10/the-euler-maclaurin-formula-bernoulli-numbers-the-zeta-function-and-real-variable-analytic-continuation/">
      <img src="img/Sum1234Summary.svg" style="width: 300px; margin: 10px;" />
    </a>
  </div>
  <p data-i18n="ramanujan.2.detail"></p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.3.title"></h4>
  <p data-i18n="ramanujan.3.detail">

  </p>
  <a target="_blank" href="https://en.wikiversity.org/wiki/MATLAB/Divergent_series_investigations">
    <img src="img/Divergent_series_Octave.png" style="width: 300px; margin: 10px;" />
  </a>
</section>

<!-- <section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.4.title"></h4>
  <video class="gfm" width="100%" preload="metadata" data-title="speed_up" data-setup="{}" controls="true"
    src="video/continuation-harmonique.webm"></video>
</section> -->

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.5.title"></h4>
  <iframe src="https://www.geogebra.org/calculator/pnzcv7k9?embed" width="800" height="600" allowfullscreen
    frameborder="0" style="border: 1px solid #e4e4e4;border-radius: 4px;"></iframe>
</section>

<section data-auto-animate>
  <h4 data-id="code-title" data-i18n="ramanujan.6.title"></h4>
  <div class="r-hstack justify-left">
    <p>
      <a target="_blank"
        href="https://www.researchgate.net/figure/Relationship-between-van-der-Waals-Casimir-Polder-and-Casimir-forces-whose-origins-lie_fig2_51966821">
        <p>
          vacuum energy density<br>
          van-der-Waals force<br>
          casimir effect <br>
          <a target="_blank" href="https://www.youtube.com/watch?v=gIXey-U9-88">
            friction by Federico Capasso
          </a>
        </p>
      </a>
    </p>
    <div class="r-vstack justify-left">
      <img src="../../img/Casimir_plates.svg" style="height: 200px; margin: 10px;">
      <img src="../../img/casimir_measured.gif" style="height: 200px; margin: 10px;">
    </div>
  </div>
</section>