---
title: "Conclusion"
outputs : "Reveal"
description: "What is a 'Monnaie libre'"
id: intro
menu: main
lang: en
weight: 144
---


<!-- <section data-auto-animate>
  <h4 data-id="code-title" data-i18n="conclusion.1.title"></h4>
  <p data-i18n="conclusion.1.subtitle"></p>
  <div class="r-hstack justify-left">
    <canvas id="quantitatif" width="400px" height="400px">
      Canvas not Supported
    </canvas>
    <canvas id="relatif" width="400px" height="400px">
      Canvas not Supported
    </canvas> 
  </div>
  <input class="hlcursor" type="range" min="1" max="100" value="10" step="0.001" 
  oninput="halfLife(this.value);currency(1/this.value)">
</section> -->
<script>

</script>
<section>
  <h4 data-id="code-title"data-i18n="conclusion.1.title"></h4>
  <p data-i18n="conclusion.1.subtitle"></p>
  <div class="r-hstack justify-left">
    <canvas id="expdecay" width="400px" height="400px">
      Canvas not Supported
    </canvas>
    <canvas id="steadystate" width="400px" height="400px">
      Canvas not Supported
    </canvas>
  </div>
  <input class="hlcursor" type="range" min="1" max="100" value="10" step="0.001" 
  oninput="halfLife(this.value);currency(1/this.value)">
</section>

<script>

halfLife(10);
  currency(0.1);
</script>